/*style_02.css*/

/*
	 warna hijau : #9fef00;
	 warna hitam : #141d2b;
	 warna putih : #a4b1cd;
*/


.jumbotron{
	/* padding-top: 2rem; */
	background-color: #141d2b;
}

.gelombang_01
{
	margin-bottom:-5rem;
}
#tentang{
	padding-top: 2rem;
	padding-bottom: 10rem;
	margin-top: -2rem;
}
#tentang i {
	font-size: 4rem;
	margin: auto;
}

#project{
	background-color:  #141d2b;
	/* padding-bottom:5rem; */
}
.gelombang_02{
	margin-bottom:-5rem;
}
.gelombang_03{
	
	position:absolute;
	
}

#kontak{
	/* margin-top:rem; */
	padding-top:10rem;
	padding-bottom:5rem;
	
	
	
	
}